<%= link_to "Faves", faves_saves_path(fave_save: "fave") %> |
<%= link_to "Saves", faves_saves_path(fave_save: "save") %> |
<%= link_to "Actors", actors_path %>

<h1>Search for a movie:</h1>

<form action="/movies/index" method="get">
  <input type="text" name="title">
  <button>Submit</button>
</form>